{% extends "base.html" %} {% block content %}
<head>
  <title class="text-xl font-bold">List Pemesanan</title>
</head>
<body class="bg-gray-100">
  {% include 'navbar_manager.html' %}
  <h1 class="text-3xl font-bold mt-8">List Pemesanan</h1>
  <table class="table-auto w-full mt-8">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2">Stadium</th>
        <th class="px-4 py-2">Waktu</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200">
        <td class="px-4 py-2">Stadium 1</td>
        <td class="px-4 py-2">08:00 - 10:00</td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-4 py-2">Stadium 2</td>
        <td class="px-4 py-2">10:00 - 12:00</td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-4 py-2">Stadium 3</td>
        <td class="px-4 py-2">12:00 - 14:00</td>
      </tr>
    </tbody>
  </table>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-8 rounded"
  >
    PESAN
  </button>
</body>
{% endblock content %}
