{% extends "base.html" %} {% block content %}
    <head>
        <title>LIST RAPAT</title>
    </head>
    <body class="bg-gray-100">
    {% include 'navbar_manager.html' %}
    <h1 class="text-2xl font-bold mt-4 mb-8">LIST RAPAT</h1>
    <table class="table-auto mx-auto border-collapse border border-gray-400">
        <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2">RAPAT TEAM</th>
            <th class="border border-gray-400 px-4 py-2">Nama Panitia</th>
            <th class="border border-gray-400 px-4 py-2">Stadium</th>
            <th class="border border-gray-400 px-4 py-2">Tanggal dan waktu</th>
            <th class="border border-gray-400 px-4 py-2">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for rapat in rapats %}
            <tr>
                <td class="border border-gray-400 px-4 py-2">{{ rapat.0 }} vs {{ rapat.1 }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ rapat.2 }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ rapat.3 }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ rapat.4 }}</td>
                <td class="border border-gray-400 px-4 py-2">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Lihat Laporan
                        Rapat
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
{% endblock content %}
