{% extends "base.html" %}
{% block content %}
    {#TODO: R List Pertandingan Manajer#}
    <head>
        <title>List Waktu Stadium A</title>
    </head>
    <body>
    <h1 class="text-3xl font-bold flex justify-center mt-10">
        List Pertandingan
    </h1>
    <div class="mx-auto mt-10 w-3/5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-gray-500 dark:text-gray-400">
                <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-200">
                        Tim Bertanding defak
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-200">Stadium</th>
                    <th scope="col" class="px-6 py-3 bg-gray-200">Tanggal dan Waktu</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        A VS B
                    </th>
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Stadium GBK
                    </th>
                    <td class="px-6 py-4 flex justify-center">
                        <a
                                href="#"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        >5 Juli 2023, 07.00 - 09.00</a
                        >
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        C VS D
                    </th>
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Stadium GBK
                    </th>
                    <td class="px-6 py-4 flex justify-center">
                        <a
                                href="#"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        >7 Juli 2023, 10.00 - 12.00</a
                        >
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        E VS F
                    </th>
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Stadium GBK
                    </th>
                    <td class="px-6 py-4 flex justify-center">
                        <a
                                href="#"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        >9 Juli 2023, 13.00 - 15.00</a
                        >
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        G VS H
                    </th>
                    <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Stadium GBK
                    </th>
                    <td class="px-6 py-4 flex justify-center">
                        <a
                                href="#"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        >11 Juli 2023, 16.00 - 18.00</a
                        >
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock content %}
