{% extends "base.html" %} {% block content %}
<head>
  <title>List Waktu Stadium {{ stadium }}</title>
</head>
<body class="bg-gray-100">
  {% include 'navbar_manager.html' %}
  <h1 class="text-3xl font-bold mt-6 text-center">Stadium {{stadium}}</h1>
  <table class="table-auto mt-8 mx-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">List Waktu</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <form method="POST" action="{% url 'manager:bookingConfirmation' %}">
        {% csrf_token %}
        <tr>
          <td class="border px-4 py-2">07:00 - 09:00
          <input type="hidden" name="start_datetime" value="{{date}} 07:00:00.000000" />
          <input type="hidden" name="end_datetime" value="{{date}} 09:00:00.000000"/>
          <input type="hidden" name="stadium" value="{{stadium}}"/>
        </td>
          <td class="border px-4 py-2">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            >
              Pesan
            </button>
          </td>
        </tr>
      </form>
      <form method="POST" action="{% url 'manager:bookingConfirmation' %}">
        {% csrf_token %}
        <tr>
          <td class="border px-4 py-2">10:00 - 12:00
          <input type="hidden" name="start_datetime" value="{{date}} 10:00:00.000000" />
          <input type="hidden" name="end_datetime" value="{{date}} 12:00:00.000000"/>
          <input type="hidden" name="stadium" value="{{stadium}}"/>
        </td>
          <td class="border px-4 py-2">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            >
              Pesan
            </button>
          </td>
        </tr>
      </form>
      <form method="POST" action="{% url 'manager:bookingConfirmation' %}">
        {% csrf_token %}
        <tr>
          <td class="border px-4 py-2">13:00 - 15:00
          <input type="hidden" name="start_datetime" value="{{date}} 13:00:00.000000" />
          <input type="hidden" name="end_datetime" value="{{date}} 15:00:00.000000"/>
          <input type="hidden" name="stadium" value="{{stadium}}"/>
        </td>
          <td class="border px-4 py-2">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            >
              Pesan
            </button>
          </td>
        </tr>
      </form>
      <form method="POST" action="{% url 'manager:bookingConfirmation' %}">
        {% csrf_token %}
        <tr>
          <td class="border px-4 py-2">16:00 - 18:00
          <input type="hidden" name="start_datetime" value="{{date}} 16:00:00.000000" />
          <input type="hidden" name="end_datetime" value="{{date}} 18:00:00.000000"/>
          <input type="hidden" name="stadium" value="{{stadium}}"/>
        </td>
          <td class="border px-4 py-2">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            >
              Pesan
            </button>
          </td>
        </tr>
      </form>
      <form method="POST" action="{% url 'manager:bookingConfirmation' %}">
        {% csrf_token %}
        <tr>
          <td class="border px-4 py-2">19:00 - 21:00
          <input type="hidden" name="start_datetime" value="{{date}} 19:00:00.000000" />
          <input type="hidden" name="end_datetime" value="{{date}} 21:00:00.000000"/>
          <input type="hidden" name="stadium" value="{{stadium}}"/>
        </td>
          <td class="border px-4 py-2">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            >
              Pesan
            </button>
          </td>
        </tr>
      </form>
    </tbody>
  </table>
</body>
{% endblock content %}
