<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BABADU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" role="button">
                            Rapat
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" role="button">
                            Manage Pertandingan
                        </a>
                    </li>
                <a href="/logout">
                    <button class="btn btn-outline-danger" type="button">Logout</button>
                </a>
            </div>
        </div>
    </nav>
</div>