{% extends 'base.html' %}
{% load static %}
{% block meta %}

{% endblock meta %}

{% block content %}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

  </head>
  {% include 'navbar_panitia.html' %}
    <body class="bg-gray-200">
           <div class="page-title">
        <h1>Peristiwa Tim {{nama_tim}}</h1>
    </div>

    <div class="wrapper">
        <div class="box-content">
            <div class="content">
                <div class="content-title">
                    <!-- <h4>Peristiwa Tim</h4> -->
                </div>
    
    
                <div style="text-align: center; margin: 20px;">
                    <table style="width: 1000px; margin-left: auto; margin-right: auto; border: 1px solid black; padding: 10px;">
                        <tr style="color: #55509c;">
                                <th>Nama Pemain</th>
                                <th>Peristiwa</th>
                        </tr>
                        {% for data in peristiwa %}
                            <tr>
                                <td>{{data.nama_depan}} {{data.nama_belakang}}</td>
                                <td>{{data.jenis}}</td>
                            </tr>
                        {% endfor %}
                        </tr>
                    </table>
                </div>

                <div style="display: flex; justify-content: center;">
                    <a href="{% url 'panitia:manage_pertandingan' %}">Kembali</a>
                </div>
            </div>
        </div>
    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    </body>
    
{% endblock content %}
