{% extends 'base.html' %} {% load static %} {% block meta %} {% endblock meta %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}" />
</head>

<body class="bg-gray-100">
  {% include 'navbar_panitia.html' %}
  <h1 class="text-3xl font-bold mt-8 mb-4 text-center">LIST PERTANDINGAN</h1>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
      <tr class="bg-gray-200">
        <th class="p-3 text-left">Grup A</th>
        <th class="p-3 text-center">Action</th>
        <th class="p-3 text-left">Grup B</th>
        <th class="p-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row1, row2 in lt %}
      <tr>
        <td class="p-3 border-t border-gray-400">{{row1.0}}</td>
        <td class="p-3 border-t border-gray-400 text-center">
        </td>
        <td class="p-3 border-t border-gray-400">{{row2.0}}</td>
        <td class="p-3 border-t border-gray-400 text-center">
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <thead>
      <tr class="bg-gray-200">
        <th class="p-3 text-left">Grup C</th>
        <th class="p-3 text-center">Action</th>
        <th class="p-3 text-left">Grup D</th>
        <th class="p-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="p-3 border-t border-gray-400"></td>
          <td class="p-3 border-t border-gray-400 text-center">
            <button
              type="button"
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
            <a href="{% url 'panitia:buatPertandingan' %}">Add</a>
            </button>
          </td>
          <td class="p-3 border-t border-gray-400"></td>
          <td class="p-3 border-t border-gray-400 text-center">
            <button
              type="button"
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
            <a href="{% url 'panitia:buatPertandingan' %}">Add</a>
            </button>
          </td>
        </tr>
        <tr>
          <td class="p-3 border-t border-gray-400"></td>
          <td class="p-3 border-t border-gray-400 text-center">
            <button
              type="button"
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
              <a href="{% url 'panitia:buatPertandingan' %}">Add</a>
            </button>
          </td>
          <td class="p-3 border-t border-gray-400"></td>
          <td class="p-3 border-t border-gray-400 text-center">
            <button
              type="button"
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
            <a href="{% url 'panitia:buatPertandingan' %}">Add</a>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

{% endblock content %}
