{% extends 'base.html' %} {% block meta %}
<title>Manage Pertandingan</title>

{% endblock meta %} {% block content %}
{% include 'navbar_panitia.html' %}
<div class="page-title">
  <h1>Manage Pertandingan</h1>
</div>

{% if jumlahPertandingan %}

<div class="wrapper">
  <div class="content box-content">
    <div class="content">
      <div style="text-align: center; margin: 20px">
        <div class="content-title" style="margin: 10px">
          <h4>List Pertandingan Grup Stage</h4>
        </div>

        <table>
          <tr style="color: #55509c">
            <th>Grup</th>
            <th>Tim</th>
            <th>Waktu</th>
            <th>Pemenang</th>
            <th>Action</th>
          </tr>

          {% for data in pertandingan %}
          <tr>
            <td>A</td>
            <td>{{ data.tim.0 }} vs {{ data.tim.1 }}</td>
            <td>{{ data.start_datetime }}</td>
            <!-- Cek siapa pemenangnya dengan menyamakan id_pertandingan pada data dan dictionary pemenang -->
            {% for key, value in pemenang.items %} 
            {% if key == data.id_pertandingan %}
            <td>{{value}}</td>
            <td>
              <a href="{% url 'panitia:list_peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.tim.0 %}">Lihat Peristiwa Tim 1</a><br><br>
              <a href="{% url 'panitia:list_peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.tim.1 %}">Lihat Peristiwa Tim 2</a><br><br>
           </td>
            {% endif %}
            {% endfor %}
            </td>
          </tr>

          {% endfor %}

        <button
          onclick="window.location.href"
          ="{% url 'panitia:show_profile' %}"
        >
          Finish
        </button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="wrapper">
  <div class="box-content">
    <div class="content">
      <div class="announcement">
        <p>
          Pertandingan Belum Lengkap!<br />Klik Tombol Next untuk Membuat
          Pertandingan
        </p>
        <div>
          <td><button onclick="window.location.href='#'">Next</button></td>
        </div>
      </div>
    </div>
  </div>
</div>

<!--case already have winner-->
{% endif %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
{% endblock content %}
