{% extends 'base.html' %} 
{% block meta %}
<title>Manage Pertandingan</title>
{% endblock meta %} 

{% block content %}
{% include 'navbar_panitia.html' %}
<div class="page-title">
</div>

{% if jumlahPertandingan %}

<div class="wrapper">
  <div class="content box-content">
    <div class="content">
      <div style="text-align: center; margin: 20px">
        <div class="content-title" style="margin: 10px">
          <h4 class="text-lg font-bold">List Pertandingan Grup Stage</h4>
        </div>

        <table class="table-auto w-full">
          <thead>
            <tr class="text-purple-600">
              <th class="px-4 py-2">Grup</th>
              <th class="px-4 py-2">Tim</th>
              <th class="px-4 py-2">Waktu</th>
              <th class="px-4 py-2">Pemenang</th>
              <th class="px-4 py-2">Action</th>
            </tr>
          </thead>

          <tbody>
            {% for data in pertandingan %}
            <tr>
              <td class="px-4 py-2">A</td>
              <td class="px-4 py-2">{{ data.tim.0 }} vs {{ data.tim.1 }}</td>
              <td class="px-4 py-2">{{ data.start_datetime }}</td>
              <!-- Cek siapa pemenangnya dengan menyamakan id_pertandingan pada data dan dictionary pemenang -->
              {% for key, value in pemenang.items %} 
              {% if key == data.id_pertandingan %}
              <td class="px-4 py-2">{{ value }}</td>
              <td class="px-4 py-2">
                <a href="{% url 'panitia:list_peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.tim.0 %}" class="text-blue-600 hover:underline">Lihat Peristiwa Tim 1</a><br><br>
                <a href="{% url 'panitia:list_peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.tim.1 %}" class="text-blue-600 hover:underline">Lihat Peristiwa Tim 2</a><br><br>
              </td>
              {% endif %}
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <button onclick="window.location.href='{% url 'panitia:show_profile' %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
          Finish
        </button>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="wrapper">
  <div class="box-content">
    <div class="content">
      <div class="announcement">
        <p>
          Pertandingan Belum Lengkap!<br />Klik Tombol Next untuk Membuat Pertandingan
        </p>
        <div>
          <td><button onclick="window.location.href='#'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Next</button></td>
        </div>
      </div>
    </div>
  </div>
</div>

<!--case already have winner-->
{% endif %} 

{% endblock content %}
