{% extends "base.html" %} {% block content %}
<head>
  <title>Mulai Pertandingan</title>
</head>
<body>
  {% include 'navbar_panitia.html' %}
  <div class="page-title">
    <h1>Mulai Pertandingan</h1>
  </div>

  <div class="wrapper">
    <div class="box-content">
      <div class="content">
        <div>
          <table>
            <tr>
              <th>Tim 1</th>
              <th>Tim 2</th>
              <th></th>
            </tr>
            <tr>
              <td>{{data.nama_tim.0}}</td>
              <td>{{data.nama_tim.1}}</td>
              <td>
                <a
                  href="{% url 'panitia:peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.nama_tim.0 %}"
                >
                  Masukkan Peristiwa Tim 1</a
                ><br /><br />
                <a
                  href="{% url 'panitia:peristiwa' id_pertandingan=data.id_pertandingan nama_tim=data.nama_tim.1 %}"
                >
                  Masukkan Peristiwa Tim 2</a
                >
              </td>
            </tr>
          </table>

          <button onclick="window.location.href='#'">Submit</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>
