{% extends 'base.html' %} {% block content %}
<head>
  <title>Mulai Rapat</title>
</head>

<body class="bg-gray-100">
  {% include 'navbar_panitia.html' %}
  <h1 class="text-3xl font-bold mt-8 mb-4 text-center">PILIH PERTANDINGAN</h1>
  <table class="w-full border-collapse border border-gray-400">
    <thead>
      <tr class="bg-gray-200">
        <th class="p-3 text-left">Tim Bertanding</th>
        <th class="p-3 text-left">Stadium</th>
        <th class="p-3 text-left">Tanggal dan Waktu</th>
        <th class="p-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>

      {% for response in listResponse %}
      <form method="POST" action="{% url 'panitia:notaRapat' %}">
      {% csrf_token %}
      <tr>
        <td class="p-3 border-t border-gray-400">{{response.timBertanding}}</td>
        <td class="p-3 border-t border-gray-400">{{response.stadium}}</td>
        <td class="p-3 border-t border-gray-400">{{response.tanggalWaktu}}</td>
        <input type="hidden" name="idPertandingan" value="{{response.idPertandingan}}" />
        <input type="hidden" name="stadium" value="{{response.stadium}}"/>
        <input type="hidden" name="timA" value="{{response.timA}}"/>
        <input type="hidden" name="timB" value="{{response.timB}}"/>

        <td class="p-3 border-t border-gray-400 text-center">
          {% if response.rapat %}
            Rapat Selesai
          {% else %}
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
          >
            Mulai Rapat
          </button>

          {% endif %}
        </td>
      </tr>
    </form>
    {% endfor %}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</body>
{% endblock content %}
