{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block meta %} {% endblock meta %}
  </head>

  <body>
    <h1>PILIH PERTANDINGAN</h1>
    <table>
      <thead>
        <tr>
          <th>Tim Bertanding</th>
          <th>Stadium</th>
          <th>Tanggal dan Waktu</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A vs B</td>
          <td>Stadium GBK</td>
          <td>5 Juli 2023, 07.00 - 09.00</td>
          <td><button>Mulai Rapat</button></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </body>
</html>
