{% extends "base.html" %} {% block content %}
<head>
  <title>BUAT PERTANDINGAN</title>
</head>
<body class="bg-gray-200 flex flex-col justify-center items-center h-screen">
  {% include 'navbar_panitia.html' %}
  <h1 class="text-4xl font-bold mb-8">BUAT PERTANDINGAN</h1>
  <form method="post" class="bg-white rounded-lg p-8 shadow-md">
    {% csrf_token %}
    <div class="mb-4">
      <label for="wasit-utama" class="block font-bold mb-2"
        >Pilih Wasit Utama:</label
      >
      <select
        name="wasit-utama"
        id="wasit-utama"
        class="w-full p-2 border border-gray-300 rounded-lg"
      >
      {% for row in dw %}
        <option value="">{{row.0}}</option>
        {% endfor %}
        <!-- populate with available referees -->
      </select>
    </div>
    <div class="mb-4">
      <label for="wasit-pembantu1" class="block font-bold mb-2"
        >Pilih Wasit Pembantu/Hakim Garis:</label
      >
      <select
        name="wasit-pembantu1"
        id="wasit-pembantu1"
        class="w-full p-2 border border-gray-300 rounded-lg"
      >
      {% for row in dw %}
      <option value="">{{row.0}}</option>
      {% endfor %}
        <!-- populate with available referees -->
      </select>
    </div>
    <div class="mb-4">
      <label for="wasit-pembantu2" class="block font-bold mb-2"
        >Pilih Wasit Pembantu/Hakim Garis:</label
      >
      <select
        name="wasit-pembantu2"
        id="wasit-pembantu2"
        class="w-full p-2 border border-gray-300 rounded-lg"
      >
      {% for row in dw %}
        <option value="">{{row.0}}</option>
        {% endfor %}
        <!-- populate with available referees -->
      </select>
    </div>
    <div class="mb-4">
      <label for="wasit-cadangan" class="block font-bold mb-2"
        >Pilih Wasit Cadangan:</label
      >
      <select
        name="wasit-cadangan"
        id="wasit-cadangan"
        class="w-full p-2 border border-gray-300 rounded-lg"
      >
      {% for row in dw %}
        <option value="">{{row.0}}</option>
        {% endfor %}
        <!-- populate with available referees -->
      </select>
    </div>
    <h2 class="text-2xl font-bold mb-4">Pilih Tim:</h2>
    <table class="w-full mb-4">
      <thead>
        <tr>
          <th class="text-left font-bold">Tim 1</th>
          <th class="text-left font-bold">Tim 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select
              name="tim-1"
              id="tim-1"
              class="w-full p-2 border border-gray-300 rounded-lg"
            >
            {% for row1 in dt1 %}
            <option value="">{{row1.0}}</option>
            {% endfor %}
              <!-- populate with available teams -->
            </select>
          </td>
          <td>
            <select
              name="tim-2"
              id="tim-2"
              class="w-full p-2 border border-gray-300 rounded-lg"
            >
            {% for row2 in dt2 %}
            <option value="">{{row2.0}}</option>
            {% endfor %}
              <!-- populate with available teams -->
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10"
      type="submit"
    >
      SUBMIT
    </button>
  </form>
</body>
{% endblock content %}
