{% extends "base.html" %} {% block content %}
<head>
  <title>List Waktu Stadium A</title>
</head>
<body>
  <h1 class="text-3xl font-bold flex justify-center mt-10">
    List Waktu Stadium A
  </h1>
  <div class=" w-3/5 mx-auto mt-8 ">
    <div class="relative overflow-x-auto shadow-xl  sm:rounded-lg ">
      <table class="w-full text-sm text-gray-500 dark:text-gray-400 ">
        <thead
          class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 "
        >
          <tr>
            <th scope="col" class="px-6 py-3 m-auto bg-gray-200">List Waktu</th>
            <th scope="col" class="px-6 py-3 bg-gray-200">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">  
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              07.00 - 09.00
            </th>
            <td class="px-6 py-4 flex justify-center">
              <button
                class="bg-blue-500 rounded-md py-1 px-2 text-white font-bold"
              >
                Next
              </button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              10.00 - 12.00
            </th>
            <td class="px-6 py-4 flex justify-center">
              <button
                class="bg-blue-500 rounded-md py-1 px-2 text-white font-bold"
              >
                Next
              </button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              13.00 - 15.00
            </th>
            <td class="px-6 py-4 flex justify-center">
              <button
                class="bg-blue-500 rounded-md py-1 px-2 text-white font-bold"
              >
                Next
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock content %}
