{% extends "base.html" %}
{% block content %}
    <head>
        <title>Pilih Stadium</title>
    </head>
    <body>
    {% include 'navbar_penonton.html' %}
    <h1 class="text-3xl font-bold flex justify-center mt-10">Pilih Stadium</h1>
    <div class="w-3/5 mx-auto">
        <form method="post">
            {% csrf_token %}
            <div class="flex justify-evenly mt-10">
                {{ form.stadium }}
                {{ form.tanggal }}
            </div>
            <div class="flex justify-center">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10"
                        type="submit">Submit
                </button>
            </div>
        </form>
    </div>
    </body>
{% endblock content %}
